{
  "outputSpeech": "",
  "card": "",
  "reprompt": "",
  "shouldEndSession": "",
  "directives": [
    {
      "type": "Navigation.SetDestination",
      "destination": {
        "singleLineDisplayAddress": "",
        "multipleLineDisplayAddress": "",
        "name": "",
        "coordinate": {
          "latitudeInDegrees": "",
          "longitudeInDegrees": ""
        }
      },
      "transportationMode": "DRIVING",
      "metadata": {
        "hoursOfOperation": [
          {
            "dayOfWeek": "MONDAY",
            "status": "UNKNOWN"
          },
          {
            "dayOfWeek": "TUESDAY",
            "status": "UNKNOWN"
          },
          {
            "dayOfWeek": "WEDNESDAY",
            "status": "UNKNOWN"
          },
          {
            "dayOfWeek": "THURSDAY",
            "status": "UNKNOWN"
          },
          {
            "dayOfWeek": "FRIDAY",
            "status": "UNKNOWN"
          },
          {
            "dayOfWeek": "SATURDAY",
            "status": "UNKNOWN"
          },
          {
            "dayOfWeek": "SUNDAY",
            "status": "UNKNOWN"
          }
        ],
        "phoneNumber": ""
      }
    }
  ]
}
